:root { 
--gray_600:#827c7c; 
--blue_gray_100:#d9d9d9; 
--deep_purple_600_00:#5f15bd00; 
--red_300_00:#b2696900; 
--deep_purple_700:#4633b9; 
--black_900_3f:#0000003f; 
--gray_50:#fffbfb; 
--green_A400:#00ff47; 
--indigo_300:#7e74bc; 
--deep_purple_600_d9:#5f15bdd9; 
--black_900:#000000; 
--indigo_A700_aa:#2c4ae8aa; 
--deep_purple_600_c2:#5f15bdc2; 
--indigo_900_01:#130660; 
--white_A700_01:#fffcfc; 
--indigo_900:#12065f; 
--red_A700_01:#ff0f00; 
--deep_purple_A700:#7f00ff; 
--white_A700:#ffffff; 
--red_A700:#ff0000; 
}